

  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .brand-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .brand-name {
    font-size: 48px;
    color: red;
    font-weight: bold;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
  }

